<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestCoreAnimation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4A42A7B11C4F78040033AF8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A42A7CD1C4F78040033AF8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A42A7D81C4F78040033AF8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
