<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestCancelThread.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4AECA4571D2F54C500A6FDE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AECA4731D2F54C500A6FDE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AECA47E1D2F54C500A6FDE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
