<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TetsMap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4AF98E0C1C23A30400DE69F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AF98E281C23A30400DE69F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AF98E331C23A30500DE69F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
