<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestSWReveal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4A8F29851D38754E002D08A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A8F29A11D38754E002D08A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A8F29AC1D38754E002D08A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
