<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestFDFullscreenPopGesture.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4AFC124F1DC3519D003083CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AFC126B1DC3519D003083CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AFC12761DC3519D003083CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
