<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ToolReadTxt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4AFC12971DC6EAC8003083CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AFC12B31DC6EAC9003083CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AFC12BE1DC6EAC9003083CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
